<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>&nbsp;&nbsp;&nbsp;Turn Range</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" (load)="datetime.reset()">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Turn range</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="inset">

    <ion-list-header>
      <ion-label>Complete:</ion-label>
      <ion-toast position="top" positionAnchor="header" [isOpen]="isToastOpen" [message]="message" [duration]="3500"
        (didDismiss)="setOpen(false)"></ion-toast>
    </ion-list-header>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <ion-item>
        <ion-input formControlName="eventName" label="Event Name" placeholder="Enter event name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Min Date:</ion-label>
      </ion-item>

      <ion-item>
        <ion-datetime id="datemin" #datemin presentation="date" hourCycle="h23" (ionChange)="setmin(datemin.value)"
          display-format="DD/MM/YYYY HH:mm" preferWheel="false" [firstDayOfWeek]="1">
          <span slot="title">Select min Date</span>
          <ion-buttons slot="buttons">
            <ion-button color="danger" (click)="datemin.reset()">Reset</ion-button>
            <ion-button color="success" (click)="datemin.confirm(true)">Confirm</ion-button>
            <ion-button color="warning" (click)="datemin.cancel(true)">Cancel</ion-button>
          </ion-buttons>
        </ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Max Date:</ion-label>
      </ion-item>

      <ion-item>
        <ion-datetime id="datemax" #datemax presentation="date" hourCycle="h23" (ionChange)="setmax(datemax.value)"
          display-format="DD/MM/YYYY HH:mm" preferWheel="false" [firstDayOfWeek]="1">
          <span slot="title">Select max Date</span>
          <ion-buttons slot="buttons">
            <ion-button color="danger" (click)="datemax.reset()">Reset</ion-button>
            <ion-button color="success" (click)="datemax.confirm(true)">Confirm</ion-button>
            <ion-button color="warning" (click)="datemax.cancel(true)">Cancel</ion-button>
          </ion-buttons>
        </ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Specific Dates:</ion-label>
      </ion-item>

      <ion-item>
        <ion-datetime id="datetime" #datetime presentation="date" [multiple]="true"
          (ionChange)="setspecifics(datetime.value)" hourCycle="h23" display-format="DD/MM/YYYY HH:mm"
          preferWheel="false" [firstDayOfWeek]="1">
          <span slot="title">Select the Dates</span>
          <ion-buttons slot="buttons">
            <ion-button color="danger" (click)="datetime.reset()">Reset</ion-button>
            <ion-button color="success" (click)="datetime.confirm(true)">Confirm</ion-button>
            <ion-button color="warning" (click)="datetime.cancel(true)">Cancel</ion-button>
          </ion-buttons>
        </ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Exclude weekends?:</ion-label>
      </ion-item>

      <ion-item>
        <ion-list>
          <ion-radio-group formControlName="weekends" (ionChange)="setweekend($event)">
            <ion-radio value="true">Yes</ion-radio>
            <ion-radio value="false">No</ion-radio>
          </ion-radio-group>
        </ion-list>
      </ion-item>

      <ion-item>
        <ion-label>Days included:</ion-label>
      </ion-item>

      <ion-item>
        <ion-list>
          <ion-item>
            <ion-select  formControlName="daysincluded"  aria-label="Days in" placeholder="Select days in" [multiple]="true"
              (ionChange)="setdayvalues($event)">
              <ion-select-option *ngFor="let day of days" [value]="day">{{ day }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-item>

      <ion-item>
        <ion-label>Hours included:</ion-label>
      </ion-item>

      <ion-item>
        <ion-list>
          <ion-item>
            <ion-select formControlName="hoursincluded"  aria-label="Hours in" placeholder="Select hours in" [multiple]="true"
              (ionChange)="sethourvalues($event)">
              <ion-select-option *ngFor="let hour of hours" [value]="hour">{{ hour }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-item>

      <ion-item>
        <ion-label>Minutes included:</ion-label>
      </ion-item>

      <ion-item>
        <ion-list>
          <ion-item>
            <ion-select formControlName="minutesincluded" aria-label="Minutes in" placeholder="Select minutess in" [multiple]="true"
              (ionChange)="setminutevalues($event)">
              <ion-select-option *ngFor="let minute of minutes" [value]="minute">{{ minute }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-item>

      <ion-item>

        <ion-button type="submit" [disabled]="!form.valid" shape="round" color="danger"
          size="default">Accept</ion-button>

      </ion-item>

    </form>

  </ion-list>

</ion-content>