<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Select event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Select Event</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list>
    <ion-item>
      <ion-select aria-label="Events" placeholder="Select the event" (ionChange)="setEvent($event)">
        <ion-select-option *ngFor="let event of getEvents()" [value]="event.event">{{ event.event }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>


</ion-content>