<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>&nbsp;&nbsp;&nbsp;Detail</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" *ngIf="turn">

  <ion-item>
    <ion-label class="ion-text-wrap">
      {{ turn.date | date:'dd-MM-yyyy'}}
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="ion-text-wrap">
      {{ turn.date | date:'HH:mm:ss'}}
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="ion-text-wrap">
      {{ turn.user.email }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap">
      {{ turn.user.lastName}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap">
      {{ turn.cancelUser ? 'Cancelled' : '' }} {{ turn.cancelAdmin ? 'Cancelled By Admin' : '' }}
    </ion-label>
  </ion-item>
  <ion-button color="danger" (click)="cancel()">Cancelar</ion-button>
</ion-content>